.contenedor-grid {
    position: relative;
    min-height: 710px;
    padding-top: 30px;
    padding-bottom: 30px;
    &::before {  
        content: " ";
        background-image: url("/src/assets/images/bg1.jpg");
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .5;
    }
    img {
        padding: 0;
        margin: 10px;
        box-shadow: 10px 10px 5px rgba(107, 109, 110, .641);
    }
}
.item {
    text-align: center;
    padding: 10px;
    position: relative;
}
.item1, .item2, .item5, .item6 {
    max-width: 190px;
    max-height: 120px;
}
.item1, .item3, .item5 {
    float: left;
}
.item2, .item4, .item6 {
    float: right;
}
.item3 {
    margin-top: 150px;
}
.item3,.item4 {
    padding-left: 100px;
    font-family: 'Ms Madi', cursive;
    font-size: 2.6rem;
    font-weight: 800;
}
.item4 {
    padding-right: 80px;
}
.flip-box, .flip-box2 {
    background-color: transparent;
    perspective: 1000px; 
    width: 180px;
    margin-left: 30px;
    margin-right: 40px;
}
.flip-box2 {
    margin-left: 0;
    margin-right: 60px;
    margin-top: 150px;
}
.flip-box-inner {
    position: relative;
    text-align: center;
    transition: transform .8s;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
}
.flip-box:hover .flip-box-inner, .flip-box2:hover .flip-box-inner {
    transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-box-front {
    color: black;  
} 
.flip-box-back {
    background: $bg;
    color: white;
    height: 130px;
    width: 200px;
    margin-top: 5px;
    padding-right: 20px;
    transform: rotateY(180deg);
    p {
        padding-left: 20px;
    }
    p:nth-child(1) {
        padding-top: 15px;
    }
} 

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .item3 {
        margin-left: 140px;
    }
    .item4 {
        margin-top: 140px;
        float: left;
        padding-left: 0;
        
    }
}
@media screen and (min-width: 1200px) {
    .flip-box, .flip-box2, .item1 {
        height: 280px;
        width: 340px;
        margin-top: 0;
    }
    .item1, .item2, .item5, .item6 {
        max-width: 290px;
        max-height: 200px;
    }
    .flip-box-back {
        width: 310px;
        height: 210px;
        padding-top: 50px;
    }
    .item2 {
        float: right;
    }
    .item3 {
        margin-top: 320px;
    }
    .item4 {
        margin-top: 380px;
        float: right;
        padding-left: 0;   
    }
    .item5 {
        float: left;
        margin-top: 60px;
    margin-right: 300px;
    }
    .maps {
        display: block;
    }

}
@supports (display: grid) {
    .contenedor-grid {
        display: grid;
        justify-content: center;
        grid-template-columns: 180px 30px 180px;
        grid-template-rows: 140px 140px 50px 50px 140px 140px;
    }
    .item1 {
        grid-row-start: 1;
        grid-column: 1 / 2;
    }
    .item {
        width: 170px;
    }
    .item2 {
        grid-row-start: 2;
        grid-column: 2 / 3;
    }
    .contenedor-grid img:nth-child(2),.contenedor-grid img:nth-child(6) {
        margin-left: 0;
        margin-right: 10px;
    }
    .item3 {
        grid-row-start: 3;
        padding: 0;
        padding-left: 110px;
        padding-top: 15px;
        margin-top: 0;
    }
    .item4 {
        grid-row-start: 4;
        grid-column-start: 2;
        padding: 0;
        padding-top: 5px;
    }
    .item5 {
        grid-row-start: 5;
        grid-column: 1/2;
        margin-left: 30px;

    }
    .item6 {
        grid-column: 2 / 3;
        grid-row-start: 6;
    }
    .flip-box2 {
        margin-top: 0;
    }
    @media screen and (min-width: 768px) {
        .contenedor-grid {
            grid-template-columns: 250px 150px 250px;
            grid-template-rows: 250px 70px 70px 250px;
        }
        .item {
            height: 170px;
            width: 250px;
        }
        .flip-box-back {
            height: 180px;
            width: 270px;
            padding-top: 30px;
        }
        .item1 {
            grid-row-start: 1;
            grid-column: 1 / 2;
            max-height: 300px;
            max-width: 300px;
            margin-top: 40px;
            img {
                max-height: 300px;
                max-width: 300px;
            }
        }
        .item2 {
            grid-row-start: 1;
            grid-column-start: 3;
            margin-top: 40px;
            max-height: 300px;
            max-width: 250px;
            width: 300px;
            img {
                max-height: 300px;
                max-width: 250px;
            }
        }
        .item3 {
            grid-row-start: 2;
            grid-column-start: 2;
            padding-left: 0;
            margin-left: 0;
        }
        .item4 {
            grid-row-start: 3;
            grid-column-start: 2;
            margin-top: 0;

        }
        .item5 {
            grid-row-start: 4;
            grid-column: 1 / 2;
            max-height: 300px;
            max-width: 300px;
            margin-top: 0;
            img {
                max-height: 300px;
                max-width: 300px;
            }
        }
        .item6 {
            grid-column-start: 3;
            grid-row-start: 4;
            max-height: 300px;
            max-width: 300px;
            img {
                max-height: 300px;
                max-width: 300px;
            }
        }
        .footer ul {
            height: 60px;

        }
        .footer ul:not(.social) {
            display: flex;
            justify-content: space-around;
            margin-top: 30px;
        }
        .social {
            display: flex;
            justify-content: center;
            margin-top: 0;
            padding-top: 0;
            height: 60px;
            li {
                margin-right: 20px;
            }
        }
        .maps {
            display: flex;
            justify-content: space-around;
            max-width: 900px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .maps__info {
            width: 450px;
            max-width: 500px;
            padding-left: 30px;
            padding-top: 80px;
        }
       
    }
    @media screen and (min-width: 1199px) {
        .contenedor-grid {
            grid-template-columns: 300px 300px 300px 300px;
            grid-template-rows: 250px 250px 250px;
        }
        .item1 {
            grid-row-start: 1;
            grid-column-start: 2;
        }
        .item2 {
            grid-row-start: 1;
            grid-column: 4/5;
        }
        .item3 {
            grid-row-start: 2;
            grid-column-start: 2;
            padding-top: 80px;
            text-align: right;
            padding-left: 40px;
            font-size: 3.5rem;
        }
        .item4 {
            grid-row-start: 2;
            grid-column-start: 3;
            padding-top: 80px;
            padding-right: 50px;
            text-align: left;
            font-size: 3.5rem;
        }
        .item5 {
            grid-row-start: 3;
            grid-column-start: 1;
            margin-right: 0;
        }
        .item6 {
            grid-row-start: 3;
            grid-column-start: 3;
        }
        .footer {
            display: flex;
        }
        .footer__div {
            width: 20%;
        }
        .footer .nav1 {
            width: 80%;
            justify-content: end;
        }
        .social i {
            width: 100px;
        }
        .social li {
            padding-bottom: 0;
            padding-top: 20px;
            margin-right: 0;
        }
        .footer ul:not(.social) {
            margin-top: 20px;
        }
    }
} 
