<footer class="footer">
    <nav class="nav1">
        <ul>
            <li class="footer--logo acercar"><a href="/src/index.html"><img class="logo" src="/src/assets/images/logoF.png" alt="logo"></a></li>
            <li class="acercar"><a href="#">Participantes</a></li>
            <li class="acercar"><a href="#">Información</a></li>
            <li class="acercar"><a href="#">Información</a></li>
        </ul>
    </nav>
    <div>    
        <ul class="social">
            <li><a href="#"><i class="fa-brands fa-google-plus-square"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter-square"></i></a></li>
          </ul>
    </div>
</footer>